{% if category.get_childs %}
    {% for subcategory in category.get_childs|dictsort:"id" %}
        <div class="subcategory">
        {% if forloop.first %}
            <h3 class="category-title">{{category.title_eng}}
            {% if category.description %}
                <span class="wine-badge">{{category.description_eng}}</span>
            {% endif %}
            </h3>
        {% endif %}
        <h3 class="subcategory-title">{{subcategory.title_eng}}
        {% if subcategory.description %}
            <span class="wine-badge">{{subcategory.description_eng}}</span>
        {% endif %}
        </h3>
        {% for item in subcategory.get_items|dictsort:"id" %}
            <div class="item">
                <p class="item-title">{{item.title_eng}}</p>
                {% if title.content %}
                    <p class="item-description">
                    ({{title.content_eng}})
                    </p>
                {% endif %}
                {% if item.weight %}
                    <span class="item-weight">{{item.weight}} Л</span>
                {% endif %}
                <span class="item-price">{{item.price}} грн</span>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% elif not category.parent%}
    <h3 class="category-title">{{category.title_eng}}
    {% if category.description %}
        <span class="wine-badge">{{category.description_eng}}</span>
    {% endif %}
    </h3>
    {% for item in category.get_items|dictsort:"id" %}
        <div class="item">
            <p class="item-title">{{item.title_eng}}</p>
            {% if title.content %}
                <p class="item-description">
                ({{title.content_eng}})
                </p>
            {% endif %}
            {% if item.weight %}
                <span class="item-weight">{{item.weight}} Л</span>
            {% endif %}
            <span class="item-price">{{item.price}} грн</span>
        </div>
    {% endfor %}
{% endif %}
